{% extends 'PermisoAuthBundle::layout.html.twig' %}
{% block content %}
<h2>Solicitud de permiso</h2>
<p>Por favor introduzca los siguientes datos:</p>

{% if editar == TRUE %}
<form novalidate="true" action="{{ path('editar_permiso', {'id': id}) }}" method="post">    
{% else %}
<form novalidate="true" action="{{ path('nuevo_permiso') }}" method="post">
{% endif %}     
    <div>
        <p>{{ form_label(form.fechaInicio) }}</p>
        <p>{{ form_errors(form.fechaInicio) }}</p>
        <p>{{ form_widget(form.fechaInicio, { 'attr': {'class': 'campo'} }) }}</p>
    </div>
    
    <div>
        <p>{{ form_label(form.observaciones) }}</p>
        <p>{{ form_errors(form.observaciones) }}</p>
        <p>{{ form_widget(form.observaciones, { 'attr': {'class': 'campo'} }) }}</p>
    </div>
    
    <div>
        <p>{{ form_label(form.tipoPermiso) }}</p>
        <p>{{ form_errors(form.tipoPermiso) }}</p>
        <p>{{ form_widget(form.tipoPermiso) }}</p>
    </div>

    {{ form_rest(form) }}
    <input type="submit" value='{{ valorSubmit }}' />
</form>

<p><a href="{{ url('inicio_aplicacion') }}">Volver al menú principal</a></p>

{% endblock %}
