{% extends 'PermisoAuthBundle::layout.html.twig' %}
{% block content %}
<h2>Solicitud de permiso</h2>
<p>Por favor introduzca los siguientes datos:</p>

<form novalidate="true" action="{{ path('nuevo_permiso') }}" method="post">    
    
    <div>
        <p>{{ form_label(form.fechaInicio) }}</p>
        <p>{{ form_errors(form.fechaInicio) }}</p>
        <p>{{ form_widget(form.fechaInicio, { 'attr': {'class': 'campo'} }) }}</p>
    </div>
    
    <div>
        <p>{{ form_label(form.observaciones) }}</p>
        <p>{{ form_errors(form.observaciones) }}</p>
        <p>{{ form_widget(form.observaciones, { 'attr': {'class': 'campo'} }) }}</p>
    </div>
    
    <div>
        <p>{{ form_label(form.tipoPermiso) }}</p>
        <p>{{ form_errors(form.tipoPermiso) }}</p>
        <p>{{ form_widget(form.tipoPermiso) }}</p>
    </div>

    {{ form_rest(form) }}
    <input type="submit" />
</form>

{% endblock %}
