{% extends 'PermisoAuthBundle::layout.html.twig' %}
{% block content %}
<h2>Solicitud de vacaciones</h2>
<p>Por favor introduzca los siguientes datos:</p>

<p>Días de vacaciones disponibles: {{ diasVacacionesDisponibles }}</p>

{% if editar == TRUE %}
<form novalidate="true" action="{{ path('editar_vacaciones', {'id': id}) }}" method="post">    
{% else %}
<form novalidate="true" action="{{ path('nuevas_vacaciones') }}" method="post">
{% endif %}
    <div>
        <p>{{ form_label(form.fechaInicio) }}</p>
        <p>{{ form_errors(form.fechaInicio) }}</p>
        <p>{{ form_widget(form.fechaInicio, { 'attr': {'class': 'campo'} }) }}</p>
    </div>
    
    <div>
        <p>{{ form_label(form.observaciones) }}</p>
        <p>{{ form_errors(form.observaciones) }}</p>
        <p>{{ form_widget(form.observaciones, { 'attr': {'class': 'campo'} }) }}</p>
    </div>
    
    <div>
        <p>{{ form_label(form.diasPedidos) }}</p>
        <p>{{ form_widget(form.diasPedidos) }}</p>
        <p>{{ form_errors(form.diasPedidos) }}</p>
    </div>

    {{ form_rest(form) }}
    <input type="submit" value='{{ valorSubmit }}' />
</form>
        
<br />
{% if app.session.hasFlash('aviso') %}
    <div class="aviso">
        {{ app.session.flash('aviso') }}
    </div>
{% endif %}

<p><a href="{{ url('inicio_aplicacion') }}">Volver al menú principal</a></p>

{% endblock %}


